<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="StoreContext" connectionString="metadata=res://*/ModelManager.csdl|res://*/ModelManager.ssdl|res://*/ModelManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MyStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DAL.Properties.Settings1.Connect" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MyStore;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>